@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.montserrat{
  font-family: montserrat;
  font-weight: 600;
}

.montserrat-thin {
  font-family: montserrat;
  font-weight: 400;
  
}

.montserrat-title {
  font-family: montserrat;
  font-weight: 300;
  
}

.rubik-doodle {
  font-family: Rubik Doodle Shadow;
}

.rubik-dirt {
  font-family: Rubik Dirt;
}